# don't track content of these folders
drivers/
__pycache__/

# compiled source not allowed
*.com
*.class
*.dll
*.exe
*.o
*.so

# compressed packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# data files not necessary for the public 
*.json
*.html
*.dat
*.log

# other
*.bin